{% extends 'base.html.twig' %}


{% block title %} Ajouter Colis {% endblock %} 


{% block body %}

<style>

body {
  background-color: #000c20;
}
 .form-container {
        margin-top: -120px;
          
    }



form {

  
  padding: 200px;
  background-color: #000c20;
  margin-left: 400px; /* add margin to move form to the right */
     
 
}

input[type="text"], select {
  width: 500px; /* set width of text inputs and select */
  font-size: 19px; /* set font size for text inputs and select */
  padding: 18px; /* set padding for text inputs and select */
  border: none; /* remove border */
  background-color: white; /* set background color for text inputs and select */
  border-radius: 5px; /* round the corners of text inputs and select */
  margin-bottom: 10px; /* add some space between form fields */
}


label {

  display: inline-block;   
  width: 100px; /* adjust as needed */
  margin-right: 7px; /* adjust as needed */
  font-size: 16px; /* set font size for labels */
  font-weight: bold; /* make labels bold */
       color: white;
}









</style>

<div class="form-container">


 {% block form %}
{{form_start(form,{'attr': {'novalidate': 'novalidate'}} )}}
<table>
<h1 style="color: white; font-size: 26px;"> Ajouter un colis</h1>
<tr>

<td> {{ form_label(form.poids,"Poids")  }} 
 </td>
<td>  {{ form_widget(form.poids) }} 
</td>  
<td> {{ form_errors(form.poids) }} 
</td>
</tr>
<br>

<tr>



<tr>
<td>  {{ form_label(form.typeColis,"Type") }} 
</td> 
<td> {{ form_widget(form.typeColis)}} 
 </td> 
<td>  {{ form_errors(form.typeColis) }} 
</td> 
</tr>
<br>


<tr>
<td>  {{ form_label(form.lieuDepart,"Lieu Départ") }} 
</td> 
<td> {{ form_widget(form.lieuDepart)}} 
 </td> 
<td>  {{ form_errors(form.lieuDepart) }} 
</td> 
</tr>
<br>



<tr>
<td>  {{ form_label(form.lieuArrive,"Lieu Arrivé") }} 
</td> 
<td> {{ form_widget(form.lieuArrive)}} 
 </td> 
<td>  {{ form_errors(form.lieuArrive) }} 
</td> 
</tr>
<br>

<td>  {{ form_label(form.prix,"Prix") }} 
</td> 
<td> {{ form_widget(form.prix)}} 
 </td> 
<td>  {{ form_errors(form.prix) }} 
</td> 
</tr>
<br>



<tr>
  <td colspan="2">{{ form_widget(form.Payer, {'attr': {'style': 'font-size: 15px; padding: 15px 20px; margin-left: 110px; margin-top: 10px;'}} ) }}</td>
</tr>
</table>


{{form_end(form)}}
{% endblock %}

{% endblock %}