{% extends 'base.html.twig' %}


{% block title %}
	Mes Colis
{% endblock %}


{% block body %}



	<div class="slider-area ">
		<div
			class="slider-active">
			<!-- Single Slider -->
			<div class="single-slider slider-height d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-xl-9 col-lg-9">


						
								
								<div style="height: 900px; margin-left: -50px; overflow: auto; width: 150%;">
                                <div style="overflow-x: auto;">
                                <h1 style="color: white; font-size: 26px;">Mes Colis</h1>
                                   <table>
									<div class="progress-table-wrap">
										<div class="progress-table">

											<div class="table-head">
												<div class="serial" style="margin-right : 100px; font-size: 12px;">Poids</div>
												<div class="percentage" style="margin-right : 10px; font-size: 12px;">Type</div>
												<div class="percentage" style="margin-right : 10px; font-size: 12px;">Prix</div>
												<div class="percentage" style="margin-right : 10px; font-size: 12px;">Lieu Départ</div>
												<div class="percentage" style="margin-right : 10px; font-size: 12px;">Lieu Arrivé</div>
												<div class="percentage" style="margin-right : 10px; font-size: 12px;">Modifier</div>
												<div class="percentage" style="margin-right : 10px; font-size: 12px;">Supprimer</div>

											</div>

											{% for data in list %}

												<div class="table-row">
													<div class="serial" style="margin-right : 100px; font-size: 14px;"> {{ data.poids }} </div>
													<div class="percentage" style="margin-right : 10px; font-size: 12px;"> {{ data.typeColis }} </div>
													<div class="percentage" style="margin-right : 10px; font-size: 14px;"> {{ data.prix }} </div>
													<div class="percentage" style="margin-right : 10px; font-size: 14px;"> {{ data.lieuDepart }} </div>
													<div class="percentage" style="margin-right : 10px; font-size: 14px;"> {{ data.lieuArrive }} </div>
												     <a href="{{ path('update_colis', {'id': data.idColis}) }}" style="margin-right : 10px; font-size: 14px;">Modifier</a>
                                                     <a href="{{ path('delete_colis', {'id': data.idColis}) }}" style="margin-right : 10px; font-size: 14px;">Supprimer</a>


												</div>

											{% endfor %}


										</div>
									</div>
								</table>
                                </div>

							</div>
						</div>
					</div>
				</div>


			</div>

		</div>
	</div>
	{# <!--? slider Area Start-->
					<div class="slider-area ">
						<div
							class="slider-active">
							<!-- Single Slider -->
							<div class="single-slider slider-height d-flex align-items-center">
								<div class="container">
									<div class="row">
										<div class="col-xl-9 col-lg-9">
			
			
											<h3 class="mb-30">Mes Colis</h3>
											<Table>
			
												<div class="container">
													<table class="table">
														<thead>
															<tr>
																<th scope="col">Poids</th>
																<th scope="col">Type</th>
																<th scope="col">Lieu Départ</th>
																<th scope="col">Lieu Arrivé</th>
																<th scope="col">Prix</th>
															</tr>
														</thead>
			
														<tbody>
															{# {% for data in list %}
																<tr>
																	<th scope="row">{{ data }}
																	</th>
																	<td>{{ data }}
																	</td>
																	<td>{{ data }}
																	</td>
																	<td>{{ data }}
																	</td>
																	<td>{{ data }}
																	</td>
																	<td>{{ data }}
																	</td>
																</tr>
			
															{% endfor %} #}
{% endblock %}
