{% extends 'backbase.html.twig' %}


{% block title %}
	Liste des Vehicules 
{% endblock %}


{% block body %}



	 <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">

                <h4 class="card-title">Liste des Vehicules<a href=" {{ path ('add_vehicule') }} " class="btn btn-success btn-fw float-right">Ajouter Vehicule</a></h4> 


                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> Matricule </th>
                          <th> Marque  </th>
                          <th> Type  </th>
                          
                          <th> Suppression </th>
                          <th> Modification </th>
                        </tr>
                      </thead>

                      {% for data in list %}
                        <tr>
                         
                          <td> {{ data.matricule }} </td>
                          <td> {{ data.marque }} </td>
                          <td> {{ data.idCategorie.type }} </td>
                          
                       


                      
                          <td>
  <a href="{{ path('delete_vehicule', {'id': data.idVehicule}) }}" class="btn btn-outline-danger btn-fw;">Supprimer</a>
</td>


                          <td>
                             <a href="{{ path('update_vehicule', {'id': data.idVehicule}) }}"  class="btn btn-outline-warning btn-fw;"> Modifier</a>
                          </td> 
                        </tr>
                          
                         {% endfor %}
                       
                         
                

{% endblock %}


