




{% block body %}

  <style>
    /* Center the table */
table {
  margin: 0 auto;
}

/* Style the title */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Add background color */
body {
  background-color: #B49050;
}

  </style>

    <h1>Liste des données de {{list.nom}} </h1>
        <h2>     les données</h2>
    <table border=1>
        <thead>


            <tr>
                         <th >Nom</th>
                          <th>Description</th>
                          <th >date debut </th>
                          <th> date fin </th>
                          <th> awards </th>
                      
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ list.nom }}</td>
                <td>{{ list.description }}</td>
                <td>{{ list.dateDebutEvent|date("m/d/Y")  }}</td>
                <td>{{ list.dateFinEvent|date("m/d/Y")  }}</td>
                <td>{{ list.awards }}</td>
            </tr>
        </tbody>
    </table>
  
    


   
{% endblock %}