{% extends 'backbase.html.twig' %}


{% block title %}
	Ajouter Evenement
{% endblock %}


{% block body %}


{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Ajouter Evenement</h4>
      <p class="card-description">Veuillez saisir les details de Evenement :</p>

      <form class="forms-sample">
        <div class="form-group mt-3">
          {{ form_label(form.nom, "nom") }}
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.nom) }}
        </div>

        <div class="form-group mt-3">
          {{ form_label(form.description, "description") }}
          {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.description) }}
        </div>

        <div class="form-group mt-3">
          {{ form_label(form.dateDebutEvent, "date Debut ") }}
          {{ form_widget(form.dateDebutEvent, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.dateDebutEvent) }}
        </div>

        <div class="form-group mt-3">
          {{ form_label(form.dateFinEvent, "date Fin ") }}
          {{ form_widget(form.dateFinEvent, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.dateFinEvent) }}
        </div>

          <div class="form-group mt-3">
          {{ form_label(form.awards, "Awards ") }}
          {{ form_widget(form.awards, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.awards) }}
        </div>

          
        <div class="form-group mt-3">
          {{ form_widget(form.Ajouter) }}
           



        <a href="{{ path ('app_evenement') }}" class="btn btn-dark">Annuler</a>


      </form>
    </div>
  </div>
</div>

{{ form_end(form) }}

{% endblock %}
