{% extends 'base.html.twig' %}

{% block title %}Categorieoffre index{% endblock %}

{% block body %}
    <h1>Categorieoffre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcatoffre</th>
                <th>Poidsoffre</th>
                <th>Nbrecolisoffre</th>
                <th>Typeoffre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorieoffre in categorieoffres %}
            <tr>
                <td>{{ categorieoffre.idcatoffre }}</td>
                <td>{{ categorieoffre.poidsoffre }}</td>
                <td>{{ categorieoffre.nbrecolisoffre }}</td>
                <td>{{ categorieoffre.typeoffre }}</td>
                <td>
                    <a href="{{ path('app_categorieoffre_show', {'idcatoffre': categorieoffre.idcatoffre}) }}">show</a>
                    <a href="{{ path('app_categorieoffre_edit', {'idcatoffre': categorieoffre.idcatoffre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorieoffre_new') }}">Create new</a>
{% endblock %}
