{% extends 'backbase.html.twig' %}

{% block title %}Categorie offre{% endblock %}

{% block body %}
    <a href="{{ path('app_categorieoffre_index') }}">Retour</a>

    <h1> Categories {{ categorieoffre.typeoffre}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcatoffre</th>
                <td>{{ categorieoffre.idcatoffre }}</td>
            </tr>
            <tr>
                <th>Poidsoffre</th>
                <td>{{ categorieoffre.poidsoffre }}</td>
            </tr>
            <tr>
                <th>Nbrecolisoffre</th>
                <td>{{ categorieoffre.nbrecolisoffre }}</td>
            </tr>
            <tr>
                <th>Typeoffre</th>
                <td>{{ categorieoffre.typeoffre }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('categorieoffre/_delete_form.html.twig') }}
{% endblock %}
