{% extends 'base.html.twig' %}


{% block title %}
	Ajouter Affectation
{% endblock %}


{% block body %}

	<style>
		body {
			background-color: #000c20;
		}
		.form-container {
			margin-top: -120px;

		}
		form {

			padding: 200px;
			background-color: #000c20;
			margin-left: 400px; /* add margin to move form to the right */


		}
		input[type="text"],
		select {
			width: 500px; /* set width of text inputs and select */
			font-size: 19px; /* set font size for text inputs and select */
			padding: 18px; /* set padding for text inputs and select */
			border: none; /* remove border */
			background-color: white; /* set background color for text inputs and select */
			border-radius: 5px; /* round the corners of text inputs and select */
			margin-bottom: 10px; /* add some space between form fields */
		}
		label {
			display: inline-block;
			width: 100px; /* adjust as needed */
			margin-right: 7px; /* adjust as needed */
			font-size: 16px; /* set font size for labels */
			font-weight: bold; /* make labels bold */
			color: white;
		}


		.form-table {
			width: 100%;
			max-width: 600px;
			margin: -80px auto 0 -145px;
			border-collapse: collapse;
		}

		.form-table td {
			padding: 10px;

		}

		.form-table td:first-child {
			width: 150px;
			font-weight: bold;
		}
	</style>

	<div class="form-container">


		{% block form %}
			{{form_start(form,{'attr': {'novalidate': 'novalidate'}}
			)}}
			<table class="form-table">
				{# <h1 style="color: white; font-size: 26px;">
					Veuillez saisir les details de votre colis</h1> #}
				
				<br>
					
					<tr>
							<td>
							{{ form_label(form.joinColis,"Colis") }}
						</td>
						<td>
							{{ form_widget(form.joinColis)}}
						</td>
						<td>
							{{ form_errors(form.joinColis) }}
						</td>

					</tr>
	


				<tr>
					<td colspan="2">{{ form_widget(form.Ajouter, {'attr': {'style': 'font-size: 18px; padding: 15px 20px; margin-left: 130px; margin-top: 10px;'}}
						) }}</td>
				</tr>
			</table>


			{{form_end(form)}}
		{% endblock %}



	{% endblock %}










{# {% extends 'base.html.twig' %}

{% block title %}
	Opportunite
{% endblock %}



<tr>
						<td>
							{{ form_label(form.joinColis,"Colis") }}
						</td>
						<td>
							{{ form_widget(form.joinColis)}}
						</td>
						<td>
							{{ form_errors(form.joinColis) }}
						</td>

						<td>
							  {{ form_widget(form.Ajouter, {'attr': {'style': 'font-size: 18px; padding: 15px 20px; margin-left: 130px; margin-top: 10px;'}}
						) }}
						</td>

                   
                        

                         <a href="{{ path ('app_affectation_opportinute') }}" class="btn btn-dark">Annuler</a>
	</tr>
    
    {% endblock %} #}