{% extends 'base.html.twig' %}

{% block title %}
	Opportunite
{% endblock %}


{% block body %}
<tr>
						<td>
							{{ form_label(form.joinColis,"Colis") }}
						</td>
						<td>
							{{ form_widget(form.joinColis)}}
						</td>
						<td>
							{{ form_errors(form.joinColis) }}
						</td>
                     {{ form_widget(form.Ajouter, {'attr': {'style': 'font-size: 18px; padding: 15px 20px; margin-left: 130px; margin-top: 10px;'}}
						) }}
                        

                         <a href="{{ path ('app_affectation_opportinute') }}" class="btn btn-dark">Annuler</a>
	</tr>
    
    {% endblock %}