{% extends 'backbase.html.twig' %}


{% block title %}
	Liste des Categories 
{% endblock %}


{% block body %}

<style>

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-wrapper ul {
  list-style: none;
  display: flex;
}

.pagination-wrapper li {
  margin: 0 5px;
}

.pagination-wrapper a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333;
}

.pagination-wrapper .current {
  font-weight: bold;
  background-color: #333;
  color: #fff;
}



</style>


	 <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">

               <h4 class="card-title">Liste des Categories<a href=" {{ path ('add_categorie') }} " class="btn btn-success btn-fw float-right">Ajouter Categorie</a></h4>


                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> Type </th>
                          
                          <th> Suppression </th>
                          <th> Modification </th>
                        </tr>
                      </thead>

                      {% for data in list %}
                        <tr>
                         
                          <td> {{ data.type }} </td>
                          
                       


                      
                         <td>
  <a href="{{ path('delete_categorie', {'id': data.idCategorie}) }}" class="btn btn-outline-danger btn-fw;">Supprimer</a>
</td>


                          <td>
                             <a href="{{ path('update_categorie', {'id': data.idCategorie}) }}"  class="btn btn-outline-warning btn-fw;"> Modifier</a>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="pagination-wrapper">
  {{ knp_pagination_render(list) }}
</div>


            </div>
          </div>
        </div>
      </div>
{% endblock %}


                        {# </tr>
                          
                         {% endfor %}
                       
                    <div class="pagination">
				{{ knp_pagination_render(list) }}
			</div>     
                

{% endblock %} #}


