{% extends 'baseback.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block body %}

<style>

body {
  background-color: #000c20;
}
.cont {
width: 700px;
  height: 500px;
    }
main{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-25%, -50%);
}
input[type="text"], select {
    border: 1px solid blue;
    border-radius: 20%;
    background-color: #000c20;
  width: 400px; /* set width of text inputs and select */
  font-size: 19px; /* set font size for text inputs and select */
  padding: 25px; /* set padding for text inputs and select */
  border: none; /* remove border */
  background-color: white; /* set background color for text inputs and select */
  border-radius: 5px; /* round the corners of text inputs and select */
  margin-bottom: 40px; /* add some space between form fields */
  display: block;
}
 
 .page {
              display: none;

    }



.t {

  margin-top: 25px; /* add margin to move form to the right */
  background-color: #000c20;
  margin-right: 100px; /* add margin to move form to the right */
     
   margin-left: 200px; /* add margin to move form to the right */
   margin-bottom: 200px; /* add margin to move form to the right */

}




label {

  display: inline-block;   
  width: 100px; /* adjust as needed */
  margin-right: 7px; /* adjust as needed */
  font-size: 16px; /* set font size for labels */
  font-weight: bold; /* make labels bold */
       color: white;
}


.divv {
      display: inline-block;   

  margin-right: 7px; /* adjust as needed */
  font-size: 16px; /* set font size for labels */
       color: white;
    padding-left: 150px;

}




header{
    display: flex;
    justify-content: space-between;
}

.page-num{
      display: inline-block;   
  margin-left:25px; /* adjust as needed */
  margin-right:0px; /* adjust as needed */

    border: 1px solid blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
font-size:15px;

    padding: 30px;
}

.active{
    color: white;
    background-color: blue;
}

button{border: 1px solid blue;
    border-radius: 20%;
    
     text-align: center;
font-size:15px;
 color: white;
    background-color: #000c20;
     width:300px;
    height: 30px;
    margin-left:50px;
    margin-top:15px;
}




</style>


 {% block form %}

<table class ="t">
<tr>
<td>
      

      

       <div class="page" id="page1">
       
<table>

<tr>
<td><div class="from-group">
     {{ form_label(form.descriptionoffre," Description :") }}
     {{ form_widget(form.descriptionoffre,{'attr':{'class':'from-control'}}) }}
     {% if form_errors(form.descriptionoffre) is not empty %}
     <div class="alert alert-danger">
     {{ form_errors(form.descriptionoffre) }}
</div>
{% endif %}
</div></td> 
</tr>
<br>

<tr>



<tr>
<td><div class="from-group">
     {{ form_label(form.datesortieoffre," Date De Sortie :") }}
     {{ form_widget(form.datesortieoffre,{'attr':{'class':'from-control'}}) }}
     {% if form_errors(form.datesortieoffre) is not empty %}
     <div class="alert alert-danger">
     {{ form_errors(form.datesortieoffre) }}
</div>
{% endif %}
</div></td> 

</tr>
<br>


<tr>
<td><div class="from-group">
     {{ form_label(form.maxretard," Retard :") }}
     {{ form_widget(form.maxretard,{'attr':{'class':'from-control'}}) }}
     {% if form_errors(form.maxretard) is not empty %}
     <div class="alert alert-danger">
     {{ form_errors(form.maxretard) }}
</div>
{% endif %}
</div></td> 

</tr>
<br>
<tr>
<td><div class="from-group">
     {{ form_label(form.prixoffre," Prix :") }}
     {{ form_widget(form.prixoffre,{'attr':{'class':'from-control'}}) }}
     {% if form_errors(form.prixoffre) is not empty %}
     <div class="alert alert-danger">
     {{ form_errors(form.prixoffre) }}
</div>
{% endif %}
</div></td> 
</tr>
<br>



<tr>
  <td colspan="2"></td>
</tr>
</table>
                <button class="next" type="button">Suivant</button>
</div>
<div class="page" id="page2">
                <table>
<h1 style="color: white; font-size: 26px;"> Preciser Votre categorie offre:</h1>
<tr>
<td><div class="from-group">
     {{ form_label(form.idtrajetoffre," Votre Trajet :") }}
     {{ form_widget(form.idtrajetoffre,{'attr':{'class':'from-control'}}) }}
     {% if form_errors(form.idtrajetoffre) is not empty %}
     <div class="alert alert-danger">
     {{ form_errors(form.idtrajetoffre) }}
</div>
{% endif %}
</div></td> 

</tr>
<br>
</table>
                <button class="prev" type="button">Précédent</button>
                <button class="next" type="button">Suivant</button>
</div>
<div class="page" id="page3">
                <table>
<h1 style="color: white; font-size: 26px;">Preciser Votre categorie offre:</h1>
<tr>
<td><div class="from-group">
     {{ form_label(form.catoffreid," La Categorie D'offre  :") }}
     {{ form_widget(form.catoffreid,{'attr':{'class':'from-control'}}) }}
     {% if form_errors(form.catoffreid) is not empty %}
     <div class="alert alert-danger">
     {{ form_errors(form.catoffreid) }}
</div>
{% endif %}
</div></td> 
</tr>
<br>
    <button class="prev" type="button">Précédent</button>

        
</tr>
 <td>     <button class="btn" style =" font-size: 15px; padding: 15px 20px; margin-left: 50px; margin-top: 10px;"><a href="{{ path('app_offre_Front' )}}">Enregistrer</a></button>
</td>
            
</div> 

       
</table>
</main>
</td>
<td style="padding:150px ;width:500px;height: 300px


">
<table class ="table" style="width:350px ; height: 350px; padding:100px;margin-bottom:150px ;font-size:15px;color:white;"><thead><h1>liste de categorie:</h1>
            <tr>
                
                <th>Type</th>
                <th>Poids</th>
                <th>Nbrecolis</th>
                

            </tr>
        </thead>
         <tbody>
        {% for categorieoffre in categorieoffres %}
            <tr>                <td>{{ categorieoffre.typeoffre }}</td>

                <td>{{ categorieoffre.poidsoffre }} kg /colis</td>
                <td>{{ categorieoffre.nbrecolisoffre }} colis</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucune categorie ! </td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</td>
</tr>
</table>
<script type="text/javascript">
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true,
                startDate: new Date()
            });
        });
    </script>
{% endblock %}
</div>

{% endblock %}
