
{% extends 'baseback.html.twig' %}

    {% block title %}Home{% endblock %}

    {% block body %}
    <style>
        #calendrier{
            width: 80%;
            margin: auto;

        }
    </style>
        <div class="page-content-wrapper sp-y">
            <div class="blog-details-page-wrapper">
                <div class="container container-wide">

                    <div class="row">
                        <div class="col-12">
														{% for offre in offres %}

                            <article class="blog-post-details">
                                <figure class="blog-post-thumb">
                                    <img src="" alt="Blog" />
                                </figure>

                                <div class="blog-post-txt-wrap">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2 order-1 order-md-0"></div>

                                        <div class="col-md-9 col-lg-8 m-auto order-0">
                                            <div class="blog-post-txt">
                                                <h1>{{offre.descriptionoffre}}</h1>
                                                <h2>{{ offre.datesortieoffre |date("d/m/Y") }}</h2>
                                                <h2>{{offre.etat }}</h2>
                                                <h3>J- {{ offre.maxretard  }}</h3>
                                                <p>{{offre.prixoffre}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
							        {% endfor %}

                           
                        </div>

                    </div>
                </div>
            </div>
                            </div>
                                    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>

    <script>
    window.onload = () => {
            let calendarEl = document.querySelector("#calendrier");
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timezone: 'Europe/paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events : {{ data|raw }},
                editable : true,
                eventResizableFormStart : true
            })
            calendar.on('eventChange', (e) => {

                let url = `{{path('app_api_edit',{'id':"Re"})}}`
                url = url.replace("Re",e.event.id)

                let donnees ={


                    "title": e.event.title,
                    "start": e.event.start,
                    "end": e.event.end,





                }
                console.log(donnees);
                let xhr = new XMLHttpRequest

                xhr.open("POST", url)
                xhr.send(JSON.stringify(donnees))
            })
                                calendar.render()

    

    }

    </script>    {% endblock %}


