<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{asset ("admin/assets/vendors/mdi/css/materialdesignicons.min.css")}}">
    <link rel="stylesheet" href="{{asset ("admin/assets/vendors/css/vendor.bundle.base.css")}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{asset ("admin/assets/css/style.css")}}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{asset ("admin/assets/images/favicon.png")}}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Register</h3>

                   {{ form_start(form) }}
                    <form class="forms-sample">
                      <div class="form-group">
                      {{ form_label(form.name)}}
                      {{ form_widget(form.name)}}
                        {{ form_errors(form.name) }}
                      </div>
                      <div class="form-group">
                        {{ form_label(form.lastname)}}
                        {{ form_widget(form.lastname)}}
                          {{ form_errors(form.lastname) }}
                      </div>
                      <div class="form-group">
                        {{ form_label(form.email)}}
                        {{ form_widget(form.email)}}
                          {{ form_errors(form.email) }}
                      </div>
                      <div class="form-group">
                        {{ form_label(form.adresse)}}
                        {{ form_widget(form.adresse)}}
                      </div>
                      <div class="form-group">
                        {{ form_label(form.password)}}
                        {{ form_widget(form.password)}}
                          {{ form_errors(form.password) }}
                      </div>
                      <div class="form-group">
                     {{ form_label(form.birthdate)}}
                     {{ form_widget(form.birthdate)}}
                     {{ form_errors(form.birthdate) }}
                      </div>
                      
                      <div class="form-group d-flex align-items-center justify-content-between">
                   <!-- <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input "> Remember me </label>
                    </div> -->
                    <a href="#" class="forgot-pass btn-outline-warning">Forgot password</a>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-warning btn-block enter-btn">Sign up</button>
                  </div>
                  <p class="terms">Already have an Account?<a href="{{ path('check_login') }}" class="btn-outline-warning" > Login</a></p>
                      {{ form_end(form) }}
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{asset ("admin/assets/vendors/js/vendor.bundle.base.js")}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{asset ("admin/assets/js/off-canvas.js")}}"></script>
    <script src="{{asset ("admin/assets/js/hoverable-collapse.js")}}"></script>
    <script src="{{asset ("admin/assets/js/misc.js")}}"></script>
    <script src="{{asset ("admin/assets/js/settings.js")}}"></script>
    <script src="{{asset ("admin/assets/js/todolist.js")}}"></script>
    <!-- endinject -->
  </body>
</html>