{% extends 'backbase.html.twig' %}


{% block title %}
	Modifier Evenement
{% endblock %}


{% block body %}


{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Modifier Opportinute</h4>
      <p class="card-description">Veuillez saisir les details de Livreur :</p>

      <form class="forms-sample">
        <div class="form-group mt-3">
            {{ form_label(form.date, "date") }}
          {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.date) }}
        </div>

        <div class="form-group mt-3">
          {{ form_label(form.depart, "depart") }}
          {{ form_widget(form.depart, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.depart) }}
        </div>

        <div class="form-group mt-3">
          {{ form_label(form.heurDepart, "heurDepart  ") }}
          {{ form_widget(form.heurDepart, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.heurDepart) }}
        </div>

        <div class="form-group mt-3">
          {{ form_label(form.arrivee, "arrivee ") }}
          {{ form_widget(form.arrivee, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.arrivee) }}
        </div>

          <div class="form-group mt-3">
          {{ form_label(form.heurArrivee, "heurArrivee ") }}
          {{ form_widget(form.heurArrivee, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.heurArrivee) }}
        </div>
          <div class="form-group mt-3">
          {{ form_label(form.description, "description ") }}
          {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.description) }}


          
        <div class="form-group mt-3">
     {{ form_widget(form.Ajouter, {'label': 'Modifier'}) }}



        <a href="{{ path ('app_opportinute') }}" class="btn btn-dark">Annuler</a>


      </form>
    </div>
  </div>
</div>

{{ form_end(form) }}

{% endblock %}
